/*load custom fonts*/
@font-face {
	font-family: calligrapher;
	src: url('./fonts/calligrapher-regular.ttf');
}

@font-face {
	font-family: weatherSunday;
	src: url('./fonts/weather-sunday.otf');
}

html {
	font-size: 62.50%;
}

:root {
	/*colors*/
	--color-primary:   #000;
	--color-secondary: #fff;
	--color-danger:    #fc0606;
	--color-success:   #00b4d8;
	--color-seconds:   var(--color-primary);
  /*fonts*/
	--font-1: calligrapher, sans-serif;
	--font-2: weatherSunday, calligrapher, sans-serif;
  /* svg props  */
	--strokelimit: 10;
	--linear-gradient: url(#linear-gradient);

	/*tooltip*/
	--tooltip-color: brown;
    --arrow-size: 20px;
}

[data-theme="light"]{
	/*colors*/
	--color-primary:   #000;
	--color-secondary: #fff;
	--color-danger:    #fc0606;
	--color-success:   #00b4d8;
	--color-seconds:   var(--color-primary);
  /*fonts*/
	--font-1: calligrapher, sans-serif;
	--font-2: weatherSunday, calligrapher, sans-serif;
  /* svg props  */
	--strokelimit: 10;
	--linear-gradient: url(#linear-gradient);
	/*tooltip*/
	--tooltip-color: brown;
	--arrow-size: 20px;
}

[data-theme="dark"]{
    --color-primary: #fff;
		--color-secondary: #000;
		--color-danger: var(--color-primary);
		--color-success: #343a40;
		--color-seconds: #fc0606;
     /*fonts*/
		--font-1: calligrapher;
		--font-2: weatherSunday, calligrapher;
     /* svg props  */
		--strokelimit: 10;
		--linear-gradient: var(--color-primary);
        /*tooltip*/
        --tooltip-color: brown;
        --arrow-size: 20px;

}

/*_____________________________*/
body {
	box-sizing: border-box;
	font-family: sans-serif;
	position: relative;
	background-color: var(--color-secondary);
	color: var(--color-primary);
}

* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	inset: 0;
}

.container-fluid{
	display: grid;
	grid-template-columns: 10fr 2fr;
	grid-gap: 2rem;
}

#hourHand,#minHand, #secHand {
	transform-origin: center;
}

#minsBars {
	fill: none;
	stroke: var(--color-primary);
	stroke-width: 4;
	stroke-linecap: round;
	stroke-miterlimit: var(--strokelimit);
}

#hoursBars{
	fill: var(--color-danger);
	stroke: var(--color-danger);
	stroke-miterlimit: var(--strokelimit);
}

#numbers {
	font-size: 4.8rem;
	font-family: var(--font-1);
	fill: var(--color-primary);
}

#hourHand {
	fill: var(--linear-gradient);
}

#minHand {
	fill: var(--linear-gradient);
	stroke: var(--color-secondary);
	stroke-width: 0.3296;
	stroke-miterlimit: var(--strokelimit);
}

#secHand {
	fill: none;
	stroke: var(--color-seconds);
	stroke-width: 5.5669;
	stroke-miterlimit: var(--strokelimit);
}

#secHand circle {
	fill: #fff;
}

#designer{
	font-size: 7rem;
	font-family: var(--font-2);
	fill: var(--color-success);
}

/*stage 1  formating the default checkbox  */
input[type='checkbox'] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
}

input[type='checkbox']:focus {
	outline: none;
}

/*stage 2  draw the hollow  */
input[type='checkbox'] {
	width: 5.4rem;
	height: 2.1rem;
	border: 3px solid hsla(64, 10%, 40%, 1);
	border-radius: 15px;
	background-color: hsla(64, 10%, 40%, 0.5);
	position: relative;
	padding: 0;
}
/*stage 3  draw the ball in hollow with Psuodoelement  */
input[type='checkbox']::before {
	content: '';
	width: 2.5rem;
	height: 2.5rem;
	background-color: #fff;
	position: absolute;
	border-radius: 50%;
	box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
	transition: all 0.3s ease-out;
	top: -5px;
}

input[type='checkbox']:checked::before {
	transform: translate(2.5rem);
	box-shadow: none;
	transition: all 0.3s cubic-bezier(0.6, 1.5, 0.9, 1.2);
}



/* needs to sanitize */
.error-container{
	font-family: sans-serif;
	font-style: italic;
	font-size: 1.3rem;
	color: #F00;
	display: grid;
	grid-gap:2rem;
	line-height: 1.5;
	grid-template-columns: 10fr  1fr;
}

.close{
	justify-self: right;
	padding-right: 2rem;
	cursor: pointer;
}

.error-list{
	padding-left: 4rem;
	list-style-type: square;
}

svg.clock {
	pointer-events: none;
    max-height: 90vh;
    justify-self: center;
    margin: 1rem ;
    ;
}

.error-container{
	grid-column: 1/-1;
}
.setting-container{
	align-self: end;
	/*margin-bottom: 10rem;*/
	display: grid ;
	grid-template-rows: 2.5fr 1fr;
	justify-items: center;
    grid-gap: 1rem;
}

svg.setting-icon {
	fill:#7D868E;
	width: 30%;
	cursor: pointer;
	transition: all .2s cubic-bezier(0.6, 1.5, 0.9, 1.2);
}


svg.setting-icon circle {
	fill:#0D31C9;
	transition: all .2s;
}

svg.setting-icon:hover circle {
	transform: scale(.9);
	transform-origin: center center;   
}

svg.setting-icon:active{
	fill: #7D8640;
	transform: rotate(25deg);
}

svg.setting-icon:active circle {
	transform: scale(1.05);
	transform-origin: center center;
	   
}

.switches-container{   /*tooltip*/
	background-color: var(--tooltip-color);
	padding: 1.5rem 2rem;
	border-radius: 15px;
	max-width: fit-content;
	max-height: 11rem;
    position: relative;
    display: grid ;
    grid-gap: .1rem;
    justify-items: end;
    visibility: hidden;
}

.switches-container::after{  /*tooltip arrow*/
	content:'';
	width: 0;
	height: 0;
	border-left: var(--arrow-size) solid transparent;
	border-right: var(--arrow-size) solid transparent;
	border-top: var(--arrow-size) solid var(--tooltip-color);
	position: absolute;
	bottom: -1.8rem;
	justify-self: center;
}

.switches-container label{
	color: #fff;
	position: relative;
	top: -1rem;
	margin-right: .5rem;
	cursor: pointer;
}

Media Queries 
@media screen and (max-width: 1150px) {
	.setting-container{
		grid-template-rows: 3fr 2fr;
	    grid-gap: 2rem;
	}

	.switches-container{ 
		padding: 1.5rem 2rem;
		max-height: 30rem;
	}

	svg.setting-icon {
		margin-top: 2rem;
	}
}

@media screen and (max-width: 950px) {
	.container-fluid{
		grid-template-columns: 8fr 2fr;
		grid-gap: 1rem;
	}
}

@media screen and (max-width: 766px) {
	.container-fluid{
		grid-template-columns: 6fr 3fr;
		grid-gap: 2rem;
	}
}


@media screen and (max-width: 700px) {
	.container-fluid{
		grid-template-rows: repeat(2, fit-content) minmax(fit-content, 100%);
		grid-template-columns: 1fr;
		grid-gap: 1rem;
	}

	svg.setting-icon {
		width: 30%;	
		margin-top: 2rem;
	}

	.setting-container{
		grid-template-columns: 4fr 2fr;
		/*justify-items: center;*/
		grid-auto-flow: dense;
		direction: rtl;
	    grid-gap: 3rem;
	    align-items: center;
	    justify-items: start;
	}
     
     .switches-container{ 
     	padding: 1.5rem 2rem;
     	max-height: 30rem;
     	grid-auto-flow: dense;
		direction: ltr;
		justify-self: end;
     }

      .switches-container::after{  /*tooltip arrow*/
      	content:'';
      	width: 0;
      	height: 0;
      	border-top: var(--arrow-size) solid transparent;
      	border-bottom: var(--arrow-size) solid transparent;
      	border-right: var(--arrow-size) solid var(--tooltip-color);
      	position: absolute;
      	/*bottom: -5rem;*/
      	transform: translate(-9.5rem, -3.9rem);
      	justify-self: center;
      }
      
     .sound{
     	margin-top: 1rem;
     }
}