@font-face {
    font-family: calligrapher;
    src: url('../assets/fonts/calligrapher-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/calligrapher-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: weatherSunday;
    src: url('../assets/fonts/weather-sunday-webfont.woff2') format('woff2'),
         url('../assets/fonts/weather-sunday-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}