:root {
    /*colors*/
    --color-dark:      #000;
    --color-white:     #fff;
    --color-danger:    #fc0606;
    --color-success:   #00b4d8;
    --color-seconds:   var(--color-dark);
    /*fonts*/
    --font-1: calligrapher, serif;
    --font-2: weatherSunday, sans-serif;
    /* svg props  */
    --strokelimit: 10;
    --linear-gradient: url(#linear-gradient);
    --setting-ball: var(--color-success);

    /*tooltip*/
    --tooltip-color: rgba(150,50,30,1.0);
    --label-text-color:#fff;
    --arrow-size: 2rem;

    /*checkbox*/
    --ball-color:#FFF;
    --dark-color-00: rgba(0, 0, 0, 0.4);
    --dark-color-01:rgba(100,50,30,1);
    --dark-color-02:rgba(180,50,30,1.0);
}

[data-theme="dark"]{
    --color-dark: #fff;
    --color-white: #000;
    --color-danger: var(--color-dark);
    --color-success: #343a40;
    --color-seconds: #fc0606;
    --linear-gradient: var(--color-dark);

    /*tooltip*/
    --tooltip-color: #818181;
    --label-text-color:#000;
 
    /*checkbox*/
    --ball-color:#F8F8F8;
    --dark-color-00: rgba(0, 0, 0, 0.4);
    --dark-color-01:hsla(100, 10%, 40%, 0.5);
    --dark-color-02:rgba(150,150,150,1);

    /*svg*/
    --setting-ball: var(--tooltip-color);
}