@keyframes fade-in {
    0% {
        transform: translateY(1rem) scale(.7);
        opacity: 0;
    }
    50% {
        transform: translateY(-1.6rem) scale(1.009);
        opacity: 0.8;
    }
    100% {
        transform: translateY(-1rem) scale(1.0);
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        transform: translateY(-1rem);
        opacity: 1;
        visibility: visible;
    }
    100% {
        transform: translateY(1rem);
        opacity: 0;
        visibility: hidden;
    }
}